* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yantramanav', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;

}

.logo {
  display: flex;
  padding-left: 5em;
  color: #0DA011;
}

.logo-first-part {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

.logo-second-part {
  font-family: 'Amiri', serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.4em 0 0 0.2em;
}

.right-pad {
  padding-right: 0.5em;
}

.nav-links {
  padding-right: 5em;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5em 0.5em;
  margin: 0.5em 1em;
  color: #909190;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.active {
  background-color: #EAECEA;
  border-radius: 1em;
}

.hero-img {
  margin: 0 0.5em;
}

.hero-img img {
  width: 100%;
}

.main-section {
  text-align: center;
}

.main-section h3 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Amiri', serif;
  letter-spacing: -1px;
  color: #0DA011;
  padding: 1em 0;
}

.footer {
  display: flex;
  margin: 0 0.5em;
  height: 30em;
  background-color: #3A3B3A;
  justify-content: space-between;
}

.social-links a img {
  width: 34px;
  padding-right: 1em;
}

.left-footer {
  margin: 6em 0 0 15em;
}

.left-footer h4 {
  color: #fff;
  font-size: 1.5rem;
  padding: 1em 0;
  font-weight: 400;
}

.left-footer p {
  color: #D3D5D3;
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 0.2em;
}

.info-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 1em;
}

.info-links a {
  color: #fff;
  font-weight: 300;
}

.right-footer {
  margin: 6em 15em 0 0;
}

.logo-footer {
  color: #fff;
  padding: 0;
}

.fine-print {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2em;
}

.fine-print p {
  color: #D3D5D3;
  font-size: 1.2rem;
  font-weight: 300;
}

