* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yantramanav', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;

}

.logo {
  display: flex;
  padding-left: 5em;
  color: #35D52F;
}

.logo-first-part {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

.logo-second-part {
  font-family: 'Amiri', serif;
  font-size: 1.5rem;
  padding: 0.4em 0 0 0.2em;
}

.nav-links {
  padding-right: 5em;
}

.nav-links a {
  text-decoration: none;
  padding: 1em 1.5em;
  color: #797A79;
}

.hero-img {
  margin: 0 0.5em;
}

.hero-img img {
  width: 100%;
}