* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Yantramanav', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8em;

}

.logo {
  display: flex;
  padding-left: 5em;
  color: #0DA011;
}

.logo-first-part {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

.logo-second-part {
  font-family: 'Amiri', serif;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0.4em 0 0 0.2em;
}

.right-pad {
  padding-right: 0.5em;
}

.nav-links {
  padding-right: 5em;
}

.nav-links a {
  text-decoration: none;
  padding: 0.5em 0.5em;
  margin: 0.5em 1em;
  color: #909190;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #D3D5D3;
}

.nav-links .active {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.hero-img {
  margin: 0 0.5em;
}

.hero-img img {
  width: 100%;
}

.main-section {
  text-align: center;
}

.main-section h3 {
  font-size: 2.5rem;
  font-weight: 300;
  font-family: 'Amiri', serif;
  letter-spacing: -1px;
  color: #0DA011;
  padding: 1em 0;
}

/*Gallery Page */

.container {
  margin: 5em;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
}

.image-gallery > li {
  height: 20em;
  cursor: pointer;
  position: relative;
  flex: 1 1 auto;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 0.2em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.5);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-gallery li:hover .overlay {
  transform: scale(1);
}

/* Contact page */

.form-container {
  margin: 5em auto;
  width: 50%;
  box-shadow: 0 0 40px #CECFCE;
  border-radius: 10px;
}

.form-header-container {
  display: flex;
  height: 8em;
  background-color: #d2d3d2;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-container h2 {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  padding: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  padding: 1em 0 0.2em 2em;
}

.input-container input {
  font-size: 1rem;
  margin: 0 2em;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5em;
}

.input-container textarea {
  font-size: 1rem;
  margin: 0 2em;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0.5em;
}

.btn-container {
  text-align: center;
  padding: 2em 0;
}

.form-btn {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5em 2em;
  border-radius: 2em;
  background-color: #000;
  color: #fff;
  transition: 0.3s;
  border: none;
}

.form-btn:hover {
  background-color: #0DA011;
  color: #fff;
}


.footer {
  display: flex;
  margin: 0 0.5em;
  height: 30em;
  background-color: #3A3B3A;
  justify-content: space-between;
}

.social-links a img {
  width: 34px;
  padding-right: 1em;
}

.left-footer {
  margin: 6em 0 0 15em;
}

.left-footer h4 {
  color: #fff;
  font-size: 1.5rem;
  padding: 1em 0;
  font-weight: 400;
}

.left-footer p {
  color: #D3D5D3;
  font-size: 1.2rem;
  font-weight: 300;
  padding-top: 0.2em;
}

.info-links {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  padding-top: 1em;
}

.info-links a {
  color: #fff;
  font-weight: 300;
}

.right-footer {
  margin: 6em 15em 0 0;
}

.logo-footer {
  color: #fff;
  padding: 0;
}

.fine-print {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 2em;
}

.fine-print p {
  color: #D3D5D3;
  font-size: 1.2rem;
  font-weight: 300;
}

@media only screen and (max-width: 1200px) {
  .main-section {
    padding: 1em 2em;
  }

  .left-footer {
    margin: 6em 0 0 6em
  }

  .right-footer {
    margin: 6em 6em 0 0;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .nav-links {
    padding: 0;
  }

  .social-links a img {
    padding: 0 1em;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .left-footer {
    text-align: center;
    margin: 6em 0 0 0;
  }

  .right-footer {
    text-align: center;
    margin: 6em 0;
  }

  .fine-print {
    align-items: center;
  }
}

